.reveal section img[alt=CSSLogo] {
    width: 15em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 23%;
}

img[alt=CSSLogoIrontecProfile] { padding: 100px; }

img[alt=CSSTimeline] {
    padding-left: 3em;
    height: 100%;
    width: 100%;
}

img[alt=CSSDevTools] {
    padding-left: 3em;
    width: 21em;
}

img[alt=CSSBoxModel] {
    padding-left: 4em;
    height: 19em;
}
.reveal section img[alt=CSSWorkshop] {
    height: 13.3em;
    margin: 0;
}
.reveal section img[alt=CSSTimeline00] {
    max-height: 100%;
    max-width: 100%;
    height: 21em;
    margin-top: -1em;
}

.reveal section img[alt=CSSTimeline01] {
    float: right;
}

.reveal section img[alt=CSSTimeline02] {
    float: right;
}

.reveal li span {
    float: right;
}
.reveal ul{
    font-size: 43px;
}

.reveal li i.selected-item {
    border: solid 1px #7d1c21;
    background-color: #b0232a;
    color: white;
    padding: 0 0.3em;
}

ul {
    margin: 0;
    padding: 0;
}

ul.timeline {
    list-style-type: none;
    float:left;
}

ul.without-style {
    list-style-type: none;
}

ul.selectors {
    width: 15em;
}

ul.add-css-in-html pre{
    background: rgba(0,0,0,.1);
    border: 1px solid #e1e1e1;
    width: inherit;
    text-align: center;
    padding: 0.5em;
    width: 95%;
}

ul.add-css-in-html-without-align pre{
    background: rgba(0,0,0,.1);
    border: 1px solid #e1e1e1;
    width: inherit;
    padding: 0.5em;
    width: 95%;
}